*/node_modules
*/.idea
*/.vscode
*/.DS_Store
*/.env
*/dist
*/coverage
*/build
*/.cache
*/.next
*/.nuxt
*/.sass-cache
*/.tmp
*/.history
*/.log
*/.logs
frontend/node_modules
frontend/.idea
frontend/.vscode
frontend/.DS_Store
frontend/.env
frontend/dist
*/__pycache__
backend/app/routes/__pycache__
*/*.cpython-311.pyc
*.*.pyc
*/*.pyo
*/*.pyd